/* ORDERED LIST */
/* ol{
 list-style-type: upper-roman;
} */

/* UNORDERED LIST */
/* ul{
    list-style-type: square;
} */

/* images for bullets */
/* ul{
 list-style-image:url(./images/icons8-arrow-20.png);
} */

/* list style position */
/* .illuminations{
    list-style-position: outside;
    
}
.season{
    list-style-position: inside;
} */

/* list shothand */
/* ul{
    list-style: inside square;
} */

/* table properties */
/* table{
    width: 600px;
    padding: 20px;
    text-transform: uppercase;
    border-top: 2px solid palevioletred;
    border-bottom: 2px solid blue;
} */

/* table,th,td{
    border: 2px solid black;
    text-align: center;
    
}


tr:hover{
background-color: wheat;
} */

/* th:hover{
    color: blue;
} */

/* borders on empty cells */
/* td {
    border: 1px solid #0088dd;
    padding: 15px;}
    table.one {
    empty-cells: show;}
    table.two {
    empty-cells: show;} */


    /* gaps between cells */
    /* td {
        background-color: #0088dd;
        padding: 15px;
        border: 2px solid #000000;}
        table.one {
        border-spacing: 5px 15px;}
        table.two {
        border-collapse: collapse;} */

        /* forms styling */
        /* #email{
            margin-bottom: 10px;
            background-image: url(./images/icons8-email-100.png);
            background-size: contain;
            background-repeat: no-repeat;
            padding-left: 20px;
            padding-right: 5px;
        }
        

   
    #github{
        background-image: url(./images/icons8-github-20.png );
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 20px;
        
        
    } */


    /* STYLING FIELD SETS AND LEGENDS */
    fieldset {
        width: 350px;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        padding: 20px;
        text-align: right;}
        legend {
        background-color: #efefef;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        padding: 10px 20px;
        text-align: left;
        text-transform: uppercase;}